<!DOCTYPE html>
<html lang="en-US">
{% load static %}
<head>
    <title>Recipe Book</title>
</head>
<body>
    <ul>
        <p>{{ recipe.name }}</p>
        <p>{{ recipe.author }}</p>
        {% if recipe.recipeimage %}
        <img src="{{ recipe.recipeimage.url }}" alt="">
        {% endif %}
        <p>Ingredients:</p>
        <li>
        {%for ingredient in recipe.ingredients.all %}
        {{ ingredient.ingredient.name }}
        {% endfor %}
    </li>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
        </form>
    {% if request.user.is_authenticated %}
    <a href="/ledger/recipe/{{recipe.id}}/add_image">Add an Image to this Recipe?</a>
    {% endif %}
    </ul>
</body>
</html>